
// @import './base/variables';
@import './component/banner';
@import './component/table';
// @import './flags/flag-icon-base';
// @import './flags/flag-icon-list';


article {
    section {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
    }
}